$light-color: #f4f4f4;
$font-stack: "Montserrat", sans-serif;
$primary-color: #333;
$secondary-color: #ff8700;

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return whitesmoke;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
